@font-face {
  font-family: Neue Haas Grotesk Medium;
  src: url(Fonts/PragmaticaMedium.otf)
}
@font-face {
  font-family: Vremena Grotesk Medium;
  src: url(Fonts/vremenagroteskmedium.otf)
}
@font-face {
  font-family: Vremena Grotesk Bold;
  src: url(Fonts/vremenagroteskbold.otf)
}
@font-face {
  font-family: Gogating Book;
  src: url(Fonts/gogating_tin.ttf);
}
@font-face {
  font-family: Gogating Book Bold;
  src: url(Fonts/gogatingbold_a.ttf);
}

* {
  font-family: Gogating Book Bold;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Root.js */
nav {
  background-color: black;
  padding: 0;
}
#brand {
  font-size: 30px;
  font-family: Gogating Book Bold;
  background-color: black;
  color: white;
}
#nav-brand, #logo, .navbar-brand {
  background-color: black;
}

/* Home.js */
#home {
  background-color: black;
}
#home-top {
  padding-top: 7%;
  padding-bottom: 11%;
  justify-content: center;

  color: white;
  opacity: 50%;
  transition: opacity 1s;
}
#home-top:hover {
  opacity: 100%;
  transition: opacity 1s;
}
#home-msg {
  font-size: 400%;
}
#home-buttons {
  padding-top: 2%;
}
#home-button-scores-div {
  margin-right: 1%;
}
.home-button {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.home-button:hover,
.home-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}
.home-button:hover {
  transform: translateY(-1px);
}
.home-button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
#home-button-scores {
  background-color: #52442D;
}
#home-button-stats {
  background-color: #9B948B;
}
#home-bottom {
  padding-top: 1%;
  background-color: #EFB457;
  padding-bottom: 11%;
}
#home-about-title {
  padding-top: 3%;
}
#home-about-title, #home-about-title h2 {
  background-color: #EFB457;
  font-size: 175%;
}
#home-about {
  padding-top: 1.5%;
  background-color: #EFB457;
  font-size: 125%;
}

/* Scores.js & SpotifyStats.js */
#spotify-stats {
  background-color: #EFB457;
  padding-top: 2%;
  padding-bottom: 7%;
}
#scores {
  background-color: #EFB457;
  padding-top: 2%;
  padding-bottom: 1%;
}
.chart-wrapper {
  display: block;
  position: relative;
  width: 70%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 0.3px solid white;
}
#stats-stat-title {
  margin-top: 2%;
  font-size: 140%;
  color: white;
  margin-bottom: 0.5%;
}
#scores-filters-title {
  margin-top: 1.5%;
  font-size: 140%;
  color: white;
  margin-bottom: 0.5%;
}
#stats-filters-title {
  margin-top: 1.75%;
  color: white;
  margin-bottom: 0.5%;
}
#stat-dropdown {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.year-genre-dropdowns {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#select-stat {
  width: 25%;
}
#select-genre-scores, #select-genre-stats {
  width: 20%;
  margin-right: 1%;
}
#select-year-scores, #select-year-stats {
  margin-left: 1%;
  width: 20%;
}
#scores-table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5%;
  width: 60%;
  background-color: black;
  color: white;
}
#sort-score {
  color: white;
}
.sort-albums-table {
  background: none;
  border: none;
  font-weight: bold;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
#scores-table-header {
  background-color: black;
}
.th-score {
  width: 9%;
  color: black;
}
.th-album {
  width: 35%;
}
.th-artist {
  width: 25%;
}
.th-release {
  width: 17%;
}
#scores-table tr {
  line-height: 20px;
}
#scores-table thead, #scores-table tbody {
  border-style: none;
}
#scores-table td, #scores-table a {
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  border-style : hidden!important;
}

/* Album.js & Song.js */
#back-arrow {
  background-color: #9B948B;
  color: white;
  font-size: 200%;
  padding-left: 1.5%;
  padding-top: 0.75%;
}
#back-arrow-link {
  text-decoration: none;
}
#album {
  background-color: #9B948B;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
}
#song {
  background-color: #52442D;
  color: white;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
}
#album-title {
  font-size: 260%;
  width: 87%;
}
#song-title {
  font-size: 270%;
  margin-bottom: 0.7%;
}
#album-score {
  font-size: 260%;
  width: 13%;
}
#song a {
  color: white;
}
#song-album {
  font-size: 170%;
  margin-bottom: 0.5%;
  color: white;
}
#album-artist {
  font-size: 170%;
  margin-bottom: 1.5%;
}
#song-artist {
  font-size: 140%;
  margin-bottom: 1.5%;
}
#album-number-of-tracks, #album-release-date {
  font-size: 120%;
  margin-bottom: 0.4%;
}
#album-genre {
  font-size: 120%;
  margin-bottom: 1%;
}
#song-length {
  font-size: 120%;
  margin-bottom: 3%;
}

/* Rating.js */
#rating {
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;

  color: white;
}
#rating-title {
  font-size: 225%;
  margin-bottom: 1%;
}
#spotify {
  color: rgb(30, 215, 96);
}
#rating-container {
  background-color: black;
  border: 0.5px solid white;
}
.rating-container-col {
  border: 0.5px solid #9B948B;
  text-align: center;
  padding-top: 0.5%;
}
.stat-title {
  font-size: 90%;
  color: rgb(30, 215, 96);
}
.stat-stat {
  font-size: 140%;
  color: white;
}

/* AlbumSongs.js */
#album-songs {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#album-songs-title {
  font-size: 210%;
  padding-top: 1.5%;
}
.th-song-number {
  width: 10%;
}
.th-song-title {
  width: 80%;
}
.th-song-length {
  width: 10%;
}
#album-songs-table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}
#album-songs-table .scores-link {
  color: white;
  font-size: 110%;
}

/* Comments.js & PostComment.js */
#comments-title {
  padding-top: 4%;
  font-size: 225%;
}
#post-comment-name {
  width: 50%;
  margin-bottom: 1%;
}
#post-comment-body {
  width: 85%;
  margin-bottom: 2%;
}
.comment {
  border-bottom: 1px solid white;
}
#comment-section {
  margin-top: 5%;
}
#comment-user {
  font-size: 110%;
}
#comment-body {
  padding-top: 0.5%;
  font-size: 130%;
}
#comment-timestamp {
  font-size: 80%;
  padding-bottom: 0.5%;
}
#comment-delete {
  margin-bottom: 3%;
}

/* Admin.js */
#admin {
  background-color: #EFB457;
  padding-bottom: 50%;
  padding-left: 2%;
  padding-top: 2%;
}
.display-comments {
  margin-top: 3%;
  width: 50%;
}
#login-page {
  width: 50%;
}
#login-button {
  margin-top: 2%;
}
#admin-album-table {
  color: white;
}
#admin-album-table tr {
  line-height: 20px;
}
#admin-comments-header {
  margin-top: 3%;
  margin-bottom: 1%;
  text-align: center;
  color: white;
  font-size: 225%;
}
#admin-comments-form {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
#admin-comment-delete-top {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 3%;
}
#admin-select-all-container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 2%;
}
#admin-select-all-label {
  padding-left: 1%;
}
.admin-comment-row {
  border: 0.5px solid white;
  padding: 0.5%;
}
.admin-comment-body {
  color: white;
  font-size: 110%;
}
.admin-comment-info {
  font-size: 80%;
  padding-left: 5%;
}
#admin-comment-delete-bottom {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2%;
}
#edit-albums {
  margin-top: 4%;
}
.th-album-admin {
  width: 65%;
}

/* EditAlbum.js */
#edit-album-form {
  width: 50%;
  color: white;
}
.edit-album-click {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

/* Error404.js */
#skull-emoji {
  width: 100%;
}

