body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Album.js */
table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  margin-top: 10%;
}
.th-score {
  width: 6%;
  background-color: black;
  color: white;
}
.th-album, .th-artist {
  width: 30%;
}
.th-release {
  width: 17%;
}

/* AlbumSongs.js */
.th-song-number {
  width: 3%;
}

.post-comment {
  width: 50%;
}

.display-comments {
  margin-top: 3%;
}
.comment {
  border: 1px solid black;
}