.custom-modal {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
  
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
}
#modal-cancel {
    margin-right: 2%;
}
#modal-cancel, #modal-delete {
    margin-top: 2%;
}
.custom-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}